<!DOCTYPE html>
<html>
<head>
  <title>Active record better dependent error messages</title>
  <%= stylesheet_link_tag    "active_record_better_dependent_error_messages/application", media: "all" %>
  <%= javascript_include_tag "active_record_better_dependent_error_messages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
